---
layout: index
title: Impro Festivals
tagline:
css:
js: sliders.js
keywords: improv, impro, festivals
canonical: https://improfestivals.com
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
  <!-- sliders -->
  <div id="sliders">
    <div class="full-width">
      <!-- light slider -->
      <div id="light-slider" class="carousel slide">
        <div id="carousel-area">
          <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-slider" data-slide-to="1"></li>
              <li data-target="#carousel-slider" data-slide-to="2"></li>
              <li data-target="#carousel-slider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img src="{{ BASE_PATH }}/assets/images/slider/bg-3.jpg" alt="festival_audience" title="Impro Festivals all around the world">
                <div class="carousel-caption">
                  <h3 class="slide-title animated fadeInDown">Impro Festivals all around the world</h3>
                  <h5 class="slide-text animated fadeIn">Check the upcoming dates.</h5>
                  <a href="/festivals" class="btn btn-lg btn-default-filled animated fadeInUp">Festivals</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End sliders -->

  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% assign nowunix = nowunix | plus: 0 %}

  <div class="mb-60"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <h4 class="sub-title space-left">Upcoming festivals</h4>
        </div>

        <div class="row upcoming">
          {% for post in site.posts reversed %}
          {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
          {% assign posttime = posttime | plus: 0 %}
          {% if nowunix < posttime %}

          <!-- Start Image Service Box 1 -->
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="{{ BASE_PATH }}{{ post.url }}"> <img src="{{ post.image }}" alt="{{post.name}}" title="{{post.name}} improv festival"> </a>
              </div>
              <div class="blog-item-text">
                <h3 class="card-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.name }}</a></h3>
                <div class="meta-tags">
                  on {% include JB/period.liquid start=post.start_date end=post.end_date %}
                </div>
                <p>
                  {{ post.slogan }}
                </p>

              <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-common btn-rm readmore">More about festival</a>
              </div>
            </div>
          </div>
          <!-- End Image Service Box 1 -->

          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
      

<div class="mb-60"></div>

      <div class="container">
        <h4 class="sub-title space-left">Past festivals</h4>
      </div>
      <!-- posts carousel -->
      <section id="blog">
        <div class="container">
          <div id="posts-carousel" class="owl-carousel">
           {% for post in site.posts %}

    {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
    {% assign posttime = posttime | plus: 0 %}
    {% if nowunix > posttime %}

            <div class="blog-block blog block carousel-post">
             {% if post.image %}
              <a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ post.image }}" alt="{{post.name}}" title="{{post.name}} improv festival"></a>
             {% endif %}
              <h5>{{ post.name }}</h5>
              <p>{{ post.slogan }}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}">More about festival <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            {% endif %}
           {% endfor %}
          </div>
        </div>
      </section>

<!-- Content area end -->
</div>
